{% extends 'base.html' %}
{% block title %}
Category List
{% endblock title %}


{% block custom_css %}
{% endblock custom_css %}

{% block page_title %}
Category List
{% endblock page_title %}

{% block page_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
        <div class="card">
                  
                  <div class="card-body">
                  <form method="get">
                    <button class="btn  btn-primary" type="submit" style="float:right"><i class="fas fa-search"></i> Search</button>
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250" style="width: 250px;float:right" name="filter" value="{{ filter }}">
                   </form>
                  </div>
                  
                </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="search-element">
        <div class="card">
                  
            <div class="card-body">
                <b>Sort By : - </b>
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=id">ID</a>  | 
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=title">Title</a> |  
                <a href="{% url 'category_list' %}?filter={{ filter }}&orderby=description">Description</a> 
            </div>
        </div>
        </div>
    </div>
</div>
<div class="row">
{% for category in categories_list %}
<div class="col-12 col-sm-6 col-md-6 col-lg-3">
    <article class="article article-style-b">
        <div class="article-header">
        <div class="article-image" data-background="/media/{{ category.thumbnail }}" style="background-image: url(&quot;assets/img/news/img13.jpg&quot;);">
        </div>
        <div class="article-badge">
            <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i>{{ category.title }}</div>
        </div>
        </div>
        <div class="article-details">
        <p>{{ category.description }}</p>
        <p><span class="badge badge-warning">Url Slug : {{ category.url_slug }}</span></p>
        <div class="article-cta">
            <label class="custom-switch mt-2" style="float:left">
                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" {% if category.is_active == 1 %}checked{% endif %}>
                        <span class="custom-switch-indicator"></span>
                        <span class="custom-switch-description">ACTIVE</span>
            </label>
            <a href="{% url 'category_update' category.id %}" class="btn btn-warning">EDIT <i class="fas fa-chevron-right"></i></a>
        </div>
        </div>
    </article>
</div>
{% endfor %}
</div>
<div class="row">
<div class="col-lg-12">
<div class="card">
                 
                  <div class="card-body">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                                <li class="page-item {% if i == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="{% url 'category_list' %}?filter={{ filter }}&orderby={{ orderby }}&page={{ page_obj.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                        {% endif %}

                      </ul>
                    </nav>
                  </div>
                </div>
                </div>
</div>>
{% endblock page_content %}


{% block custom_js %}
{% endblock custom_js %}