{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="/"><img src="{% static '/img/Logo.png' %}" style="height: 85px;" /></a>
      </div>
      <div class="sidebar-brand sidebar-brand-sm">
        <a href="/"><img src="{% static '/img/Logo.png' %}" style="height: 85px;" /></a>
      </div>
      <ul class="sidebar-menu">
        <li class="menu-header">Dashboard</li>
        {% comment %} CATEGORY MENU {% endcomment %}
        {% url 'category_list' as category_list %}
        {% url 'category_create' as category_create %}
        {% url 'category_update' id as category_update %}
        <li class="dropdown {% if request.path == category_list %} active {% endif %}{% if request.path == category_create %} active {% endif %}{% if request.path == category_update %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Category</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == category_list %} active {% endif %}{% if request.path == category_update %} active {% endif %}'><a class="nav-link" href="{% url 'category_list' %}">All Categories</a></li>
            <li class='{% if request.path == category_create %} active {% endif %}'><a class="nav-link" href="{% url 'category_create' %}">Add Categories</a></li>
          </ul>
        </li>


        {% comment %} SUB CATEGORY MENU {% endcomment %}
        {% url 'sub_category_list' as sub_category_list %}
        {% url 'sub_category_create' as sub_category_create %}
        {% url 'sub_category_update' id as sub_category_update %}
        <li class="dropdown {% if request.path == sub_category_list %} active {% endif %}{% if request.path == sub_category_create %} active {% endif %}{% if request.path == sub_category_update %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Sub Category</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == sub_category_list %} active {% endif %}{% if request.path == sub_category_update %} active {% endif %}'><a class="nav-link" href="{% url 'sub_category_list' %}">All Sub Categories</a></li>
            <li class='{% if request.path == sub_category_create %} active {% endif %}'><a class="nav-link" href="{% url 'sub_category_create' %}">Add Sub Categories</a></li>
          </ul>
        </li>

        
        {% comment %} Merchant User MENU {% endcomment %}
        {% url 'merchant_create' as merchant_create %}
        {% url 'merchant_list' as merchant_list %}
        {% url 'merchant_update' id as merchant_update %}
        <li class="dropdown {% if request.path == merchant_create %} active {% endif %}{% if request.path == merchant_list %} active {% endif %} {% if request.path == merchant_update %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Merchant User</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == merchant_create %} active {% endif %}'><a class="nav-link" href="{% url 'merchant_create' %}">Add Merchant User</a></li>
            <li class='{% if request.path == merchant_list %} active {% endif %} {% if request.path == merchant_update %} active {% endif %}' ><a class="nav-link" href="{% url 'merchant_list' %}">Merchant User List</a></li>
          </ul>
        </li>  

        {% comment %} CUSTOMER USER URLS {% endcomment %}
        {% url 'customer_create' as customer_create %}
        {% url 'customer_list' as customer_list %}
        {% url 'customer_update' id as customer_update %}
        <li class="dropdown {% if request.path == customer_create %} active {% endif %}{% if request.path == customer_list %} active {% endif %} {% if request.path == customer_update %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Customer User</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == customer_create %} active {% endif %}'><a class="nav-link" href="{% url 'customer_create' %}">Add Customer User</a></li>
            <li class='{% if request.path == customer_list %} active {% endif %} {% if request.path == customer_update %} active {% endif %}' ><a class="nav-link" href="{% url 'customer_list' %}">Customer User List</a></li>
          </ul>
        </li>      
       
       <!-- {% url 'product_view' as product_view %}
       {% url 'product_list' as product_list %}
       {% url 'product_edit' product.id as product_edit %}
       {% url 'product_add_media' product.id as product_add_media %}
       {% url 'product_edit_media' product.id as product_edit_media %}
       {% url 'product_add_stocks' product.id as product_add_stocks %}
        <li class="dropdown {% if request.path == product_view %} active {% endif %}  {% if request.path == product_list %} active {% endif %} {% if request.path == product_edit %} active {% endif %}{% if request.path == product_add_media %} active {% endif %}{% if request.path == product_edit_media %} active {% endif %}{% if request.path == product_add_stocks %} active {% endif %}">
          <a href="#" class="nav-link has-dropdown"><i class="fas fa-dice-d6"></i><span>Products</span></a>
          <ul class="dropdown-menu">
            <li class='{% if request.path == product_view %} active {% endif %}'><a class="nav-link" href="{% url 'product_view' %}">Add Products</a></li>
            <li class='{% if request.path == product_list %} active {% endif %} {% if request.path == product_edit %} active {% endif %} {% if request.path == product_add_media %} active {% endif %}{% if request.path == product_edit_media %} active {% endif %}{% if request.path == product_add_stocks %} active {% endif %}'><a class="nav-link" href="{% url 'product_lists' %}">Product List</a></li>
          </ul>
        </li>
      </ul> -->

      <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
        <a href="{% url 'admin_logout_process' %}" class="btn btn-primary btn-lg btn-block btn-icon-split">
          <i class="fas fa-rocket"></i> LOGOUT
        </a>
      </div>        </aside>
  </div>