/* General body styling */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7f6;
  margin-top: 50px;
}

/* Aligning the form to the center of the page */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styling the form area */
.form-block {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Styling the form title */
.form-block h1 {
  color: #333;
  margin-bottom: 24px;
  text-align: center;
}

/* Styling form input fields */
.form-group label {
  color: #666;
  font-weight: 400;
}

.form-group input[type="text"],
.form-group input[type="password"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

/* Styling the submit button */
.btn-primary {
  background-color: #0056b3;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #003d82;
}

/* Styling the 'Remember me' checkbox */
.control--checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.control__indicator {
  margin-right: 10px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 3px;
}

/* Styling the 'Forgot Password' link */
.forgot-pass {
  color: #0056b3;
  text-decoration: none;
}

.forgot-pass:hover {
  text-decoration: underline;
}

/* Alert message styling */
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
