{% extends 'Customer/base.html' %} 
{% load static %} 
{% block page_content %}<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Wishlist<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Wishlist</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <table class="table table-wishlist table-mobile">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Stock Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="product-col">
                                <div class="product product-11 text-center">
                                    <figure class="product-media">
                                        <a href="product.html">
                                            <img src="{% static 'assets/images/demos/demo-2/products/product-2-1.jpg' %}" alt="Product image" class="product-image">
                                            <img src="{% static 'assets/images/demos/demo-2/products/product-2-2.jpg' %}" alt="Product image" class="product-image-hover">
                                        
                                        </a>
    
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action-vertical -->
                                    </figure><!-- End .product-media -->

                                <h3 class="product-title">
                                    <a href="#">Octo 4240</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="price-col">UGX200000</td>
                        <td class="stock-col"><span class="in-stock">In stock</span></td>
                        <td class="action-col">
                            <div class="dropdown">
                            <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-list-alt"></i>Select Options
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">First option</a>
                                <a class="dropdown-item" href="#">Another option</a>
                                <a class="dropdown-item" href="#">The best option</a>
                              </div>
                            </div>
                        </td>
                        <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                    </tr>
                    <tr>
                        <td class="product-col">
        
                            <div class="product product-11 mt-v3 text-center">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="{% static 'assets/images/demos/demo-2/products/product-13-1.jpg' %}" alt="Product image" class="product-image">
                                        <img src="{% static 'assets/images/demos/demo-2/products/product-13-2.jpg' %}" alt="Product image" class="product-image-hover">
                                        
                                    </a>
                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->


                                <h3 class="product-title">
                                    <a href="#">2-Seater</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>

                        <td class="price-col">UGX 270,000</td>
                        <td class="stock-col"><span class="in-stock">In stock</span></td>
                        <td class="action-col">
                            <div class="dropdown">
                            <button class="btn btn-block btn-outline-primary-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-list-alt"></i>Select Options
                            </button>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">First option</a>
                                <a class="dropdown-item" href="#">Another option</a>
                                <a class="dropdown-item" href="#">The best option</a>
                              </div>
                            </div>
                        </td>
                        <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                    </tr>
                    <tr>
                        <td class="product-col">
    
                            <div class="product product-11 mt-v3 text-center">
                                <figure class="product-media">
                                    <a href="product.html">
                                        <img src="{% static 'assets/images/demos/demo-2/products/product-12-1.jpg' %}" alt="Product image" class="product-image">
                                        <img src="{% static 'assets/images/demos/demo-2/products/product-12-2.jpg' %}" alt="Product image" class="product-image-hover">
                                        
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist "><span>add to wishlist</span></a>
                                    </div><!-- End .product-action-vertical -->
                                </figure><!-- End .product-media -->


                                <h3 class="product-title">
                                    <a href="#">Block side Table/Trolley</a>
                                </h3><!-- End .product-title -->
                            </div><!-- End .product -->
                        </td>
                        <td class="price-col">UGX 180,000</td>
                        <td class="stock-col"><span class="out-of-stock">Out of stock</span></td>
                        <td class="action-col">
                            <button class="btn btn-block btn-outline-primary-2 disabled">Out of Stock</button>
                        </td>
                        <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                    </tr>
                </tbody>
            </table><!-- End .table table-wishlist -->
            <div class="wishlist-share">
                <div class="social-icons social-icons-sm mb-2">
                    <label class="social-label">Share on:</label>
                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                    <a href="#" class="social-icon" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .wishlist-share -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock page_content %}  
